

#frameworks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - $header);
    gap: 3rem;

    .framework {
        width: 6rem;
        height: 6rem;
        overflow: hidden;
        transition: ease .2s;

        &.not-available {
            opacity: 0.2;
            pointer-events: none;
            user-select: none;
        }

        &:hover {
            filter: brightness(1.1);
        }
    }
}