

$background-light: #28282a;
$background-main: #0f0f10;
$background-hover: #232325;
$background-alt: #1d1d1d;
$background-dark: #0c0c0c;
$background-shad: rgba(0, 0, 0, 0.4);
$background-over: rgba(15, 15, 16, 0.6);

$highlight-light: #af9ffe;
$highlight-main: #856dfd;
$highlight-hover: #a795fe;
$highlight-alt: #9a86fe;
$highlight-dark: #6a57ca;
$highlight-shad: rgba(91, 59, 252, 0.4);
$highlight-over: rgba(133, 109, 253, 0.6);

$font-light: #fff;
$font-main: #f0f0f0;
$font-hover: #dcdcdc;
$font-alt: #f2f2f2;
$font-dark: #c0c0c0;
$font-shad: rgba(215, 215, 215, 0.4);
$font-over: rgba(240, 240, 240, 0.6);


$header: 5rem;
$footer: 3rem;